@charset "UTF-8";

.local-equipment .form-input-group-labels {
    margin-top: 25px;
    font-weight: bold;
}

#page-admin-local-equipment-partnerships .cell.c6 {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    background-color: red;
}

.scrollable-content {
    width: 500px;
}
