{{!
    This file is part of FLIP Plugins for Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_equipment/vcc_filters

    Template for the VCC summary page.

    Context variables:
    * form -
}}

<div class="card mb-4 vcc-filters-card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">
            <i class="fa fa-filter me-2" aria-hidden="true"></i>
            {{#str}}filters, local_equipment{{/str}}
        </h5>
        {{#has_filters}}
        <span class="badge text-bg-primary">{{#str}}filtersapplied, local_equipment{{/str}}</span>
        {{/has_filters}}
    </div>
    <div class="card-body">
        {{{form}}}
    </div>
</div>
